.feedback-form{
box-sizing: border-box;
background-color: #FFFFFF;
border-radius: 8px;
    padding: 24px;
    width: 408px;
    height: 296px;
}
.email-label{
display: flex;
flex-direction: column;
align-items: baseline;
gap: 8px;
margin-bottom: 8px;
}
.email-input{
font-size: 16px;
color: #2e2f42;
padding: 8px 16px;
box-sizing: border-box;
border: 1px solid #808080;
border-radius: 4px;
width: 360px;
height: 40px;
outline: transparent;
transition: border-color 250ms ease-in-out;
}
.message-label{
display: flex;
flex-direction: column;
align-items: baseline;
gap: 8px;
margin-bottom: 16px;
}
.message-textarea{
font-size: 16px;
color: #2e2f42;
padding: 8px 16px;
box-sizing: border-box;
border: 1px solid #808080;
border-radius: 4px;
width: 360px;
height: 80px;
resize: none;
outline: transparent;
transition: border-color 250ms ease-in-out;
}
.message-textarea:hover,
.email-input:hover{
border: 1px solid #000;
}
.submit-btn{
display: block;
border-radius: 8px;
padding: 8px 16px;
width: 95px;
height: 40px;
background-color: #4e75ff;
color: #fff;
font-size: 16px;
border: none;
transition: background-color 250ms ease-in-out;
}
.submit-btn:hover{
background-color: #6c8cff;
}